{% extends 'base.html'%}

{% block content %}
<h2>Book a Session</h2>
<aside>
    <section>
        <h2>Filter by Day</h2>
        <nav>
            <ul>
                <li><a href="/book/monday">Monday</a></li>
                <li><a href="/book/tuesday">Tuesday</a></li>
                <li><a href="/book/wednesday">Wednesday</a></li>
                <li><a href="/book/thursday">Thursday</a></li>
                <li><a href="/book/friday">Friday</a></li>
                <li><a href="/book/saturday">Saturday</a></li>
                <li><a href="/book/sunday">Sunday</a></li>
            </ul>
        </nav>
    </section>
</aside>

{% endblock %}