<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Next Generation</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
    <header>
        <h1>Gym Management System</h1>
</head>

<body>
    <main class="flex flex--row">
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/members">Members</a>
                </li>
                <li>
                    <a href="/sessions">Sessions</a>
                </li>
            </ul>
        </nav>
        <section id="content">

            {% block content %}

            {% endblock%}
        </section>
    </main>
</body>
<footer>
    <!-- <section>
        <h2>Our Site</h2>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/book">Book</a></li>
                
            </ul>
        </nav>
    </section> -->
    <section>
        <p>
            Copyright © 2000-2020 | Gym-Management.com | 77 Renfrew St, Glasgow G2 3BZ| Privacy Policy | Terms & Conditions | CCPA
        </p>
        <p>
            Please consult a physician before beginning any diet plan, supplement regimen, or workout plan.
        </p>
    </section>
</footer>

</html>