{% extends 'base.html'%}

{% block content %}

<article>
    <hgroup>
        <h2> Software to Grow and Manage Your Gym </h2>
    </hgroup>

    <main>
        <p>Manage your gym – all in one place.

        <ul>
            <br>
            <li>Create, edit and delete members</li>
            <br>
            <li>Create, edit and delete sessions</li>
            <br>
            <li>Book members onto a specific session</li>
            <br>
            <li>Show a list of all of the upcoming classes</li>
            <br>
            <li>Show all members that are booked in for a particular session</li>

        </ul>
        </p>

        </hgroup>

        <main>

</article>

{% endblock %}