{% extends 'base.html'%}

{% block content %}

    <article>
        <hgroup>
            <h2> 
               NOT FOR MEMBERS _ NEED NEW INDEX CONTENT
            </h2>
        </hgroup>
        
        <main>
            <p>
                Smash your fitness goals at one of our cheap gyms in Glasgow. We have 8 gyms in Glasgow for you to choose from, which means your next workout could be just around the corner.  All of our Glasgow gyms are equipped with more than 220 pieces of the latest gym equipment so you’ll never have to queue to use your favourite exercise machines and there's always something new to try to keep your workout routine fun. Plus, if you prefer to workout in a group or with friends, we have over 50 free group exercise classes every week to choose from for all ages and abilities.

            </p>
            <h2> 
                We've a gym in Glasgow to suit everybody and we're ready when you are.
            </h2>
        </hgroup>
        
        <main>
            <p>
                Smash your fitness goals at one of our cheap gyms in Glasgow. We have 8 gyms in Glasgow for you to choose from, which means your next workout could be just around the corner.  All of our Glasgow gyms are equipped with more than 220 pieces of the latest gym equipment so you’ll never have to queue to use your favourite exercise machines and there's always something new to try to keep your workout routine fun. Plus, if you prefer to workout in a group or with friends, we have over 50 free group exercise classes every week to choose from for all ages and abilities.

            </p>
    </article>
    
{% endblock %}
